@model StartApp.Models.AdminView
@{
    ViewBag.Title = "Yeni Müşteri Ekle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="card">
    <div class="card-header">
        <a href="~/AdminAffiliateCustomer/Manager" class="pull-right btn btn-success"> <i class="fa fa-list"></i> Tüm Müşteriler</a>
        <a href="~/AdminAffiliateCustomer/Add" class="pull-right btn btn-primary"> <i class="fa fa-plus-circle"></i>  Yeni Müşteri Ekle</a>
        <span class="cat__core__title">
            <strong><i class="icmn-stack"></i> Yeni Satıcı Ekle</strong>
        </span>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-5 col-sm-12 xs-col-12">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label><b>Sanal Mağaza Adı</b></label>
                        @Html.TextBoxFor(x => x.AffCustomerDetails.CompanyTitle, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <div class="form-input-icon form-input-icon-right">
                            <label><b>Yetkili Ad</b></label>
                            @Html.TextBoxFor(x => x.AffCustomerDetails.Name, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-icon form-input-icon-right">
                            <label><b>Yetkili Soyad</b></label>
                            @Html.TextBoxFor(x => x.AffCustomerDetails.Surname, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-icon form-input-icon-right">
                            <label><b>Telefon</b></label>
                            @Html.TextBoxFor(x => x.AffCustomerDetails.Phone, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-icon form-input-icon-right">
                            <label><b>E-Mail</b></label>
                            @Html.TextBoxFor(x => x.AffCustomerDetails.Email, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-input-icon form-input-icon-right">
                            <label><b>Ülke</b></label>
                            @Html.TextBoxFor(x => x.AffCustomerDetails.Country, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label><b>Şehir</b></label>
                        @Html.TextBoxFor(x => x.AffCustomerDetails.City, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <div class="form-input-icon form-input-icon-right">
                            <label><b>Adres</b></label>
                            @Html.TextAreaFor(x => x.AffCustomerDetails.Address, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.AffCustomerDetails.Status, new { Value = "0" })
                        @Html.HiddenFor(x => x.AffCustomerDetails.CustomerCode, new { Value = "0" })
                        @Html.HiddenFor(x => x.AffCustomerDetails.Password, new { Value = "0" })
                        <button type="submit" class="btn btn-primary"> KAYDET </button>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Result</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
