@model StartApp.Models.AdminView
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    List<SelectListItem> StatusOption = new List<SelectListItem>();
    StatusOption.Add(new SelectListItem { Text = "Aktif", Value = "1" });
    StatusOption.Add(new SelectListItem { Text = "Pasif", Value = "0" });
}

<section class="card">
    <div class="card-header">
        <a href="~/AdminCategory/Manager" class="pull-right btn btn-success"> <i class="fa fa-list"></i> Tüm Kategoriler</a>
        <a href="~/AdminCategory/Add" class="pull-right btn btn-primary"> <i class="fa fa-plus-circle"></i>  Yeni Kategori Ekle</a>
        <span class="cat__core__title">
            <strong><i class="icmn-stack"></i> Kategori Ekle</strong>
        </span>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label><b>Adı </b></label>
                        @Html.TextBoxFor(x => x.CategoriyDetails.Name, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label><b> Ana Kategori </b></label>
                        <select class="form-control" id="CategoryItem" required>
                            <option></option>
                            <option value="0-Ana Kategori"> Temel > Ana Kategori</option>
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.ID-@item.Name"> @item.MainCategoryName > @item.Name </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label><b>Açıklama </b></label>
                        @Html.TextBoxFor(x => x.CategoriyDetails.SeoDescription, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div class="form-input-icon form-input-icon-right">
                            <label><b>Kategori Durumu</b></label>
                            @Html.DropDownListFor(x => x.ProductDetails.Status, (List<SelectListItem>)StatusOption, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.CategoriyDetails.MainCategoryID)
                        @Html.HiddenFor(x => x.CategoriyDetails.MainCategoryName)
                        <input type="submit" class="btn btn-primary" value="Kaydet" />
                    </div>
                }
            </div>
        </div>
        @if (ViewBag.Status != null)
            {
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Result</div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<script type="text/javascript">
    jQuery("#CategoryItem").change(function () {
        var ctryDetails = jQuery("#CategoryItem option:selected").val();
        var ctrArray = ctryDetails.split("-");
        var ctrID = ctrArray[0];
        var ctrName = ctrArray[1];
        jQuery("#CategoriyDetails_MainCategoryName").val(ctrName);
        jQuery("#CategoriyDetails_MainCategoryID").val(ctrID);
      //  alert(ctrName);
    });

</script>