@model StartApp.Models.AdminView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="card">
    <div class="card-header">
        <a href="~/Admin/PageManage" class="pull-right btn btn-success"> <i class="fa fa-list"></i> Tüm Sayafalar</a>
        <a href="~/Admin/PageAdd" class="pull-right btn btn-primary"> <i class="fa fa-plus-circle"></i>  Yeni Sayfa Ekle</a>
        <span class="cat__core__title">
            <strong><i class="icmn-stack"></i> Sayfa Güncelle</strong>
        </span>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label>Sayfa Başlığı</label>
                        @Html.TextBoxFor(x => x.PageDetails.Title, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label>Link</label>
                        @Html.TextBoxFor(x => x.PageDetails.URL, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Kategori</label>
                        @Html.DropDownListFor(x => x.PageDetails.CategoryID, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div class="summernote">
                            <label>İçerik</label>
                            @Html.TextBoxFor(x => x.PageDetails.Details, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>SEO Açıklama</label>
                        @Html.TextBoxFor(x => x.PageDetails.SeoDescription, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>SEO Anahtar Kelime</label>
                        @Html.TextBoxFor(x => x.PageDetails.SeoKeyword, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Durum</label>
                        @Html.DropDownListFor(x => x.PageDetails.Status, (List<SelectListItem>)ViewBag.StatusList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x=>x.PageDetails.ID)
                        <input type="submit" class="btn btn-primary" value="Kaydet" />
                    </div>
                }
            </div>
            @if (ViewBag.Status != null)
            {
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Result</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

