@model StartApp.Models.HomeView
@using StartApp.Business
@{
    ViewBag.Title = @StartApp.Language.Text.CompanyRegister + " - toptanara.com ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="stpr-background-color">
    <div class="container" style="padding-top:80px;">
        <div class="">
            <ol class="breadcrumb" style="font-weight:500;">
                <li> <i class="fa fa-home"></i> <a href="~/">@StartApp.Language.Text.Home</a></li>
                <li class="active">@StartApp.Language.Text.Register</li>
            </ol>
        </div>
        <!--breadcrumb-->
        <div class="white-box m-b-40" style="min-height:450px;">
            <div align="center">
                <div class="col-md-6 col-sm-12" style="background-color:#fff; border:1px solid silver; padding:10px; text-align:left;">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <h3 style="text-align:center!important;font-weight:600"><i class="ti-user"></i> @StartApp.Language.Text.Register.ToUpper()</h3>
                            <hr />
                        </div>
                        <div class="form-group">
                            <label><b>@StartApp.Language.Text.CompanyName  <small>(Firma yoksa hesap adı yazın)</small></b></label>
                            @Html.TextBoxFor(x => x.CustomerDetails.CompanyTitle, new { @class = "form-control", required = "required" })
                        </div>
                                <div class="form-group">
                                    <div class="form-input-icon form-input-icon-right">
                                        <label><b>@StartApp.Language.Text.Name</b></label>
                                        @Html.TextBoxFor(x => x.CustomerDetails.Name, new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                                    <div class="form-group">
                                        <div class="form-input-icon form-input-icon-right">
                                            <label><b>@StartApp.Language.Text.Surname</b></label>
                                            @Html.TextBoxFor(x => x.CustomerDetails.Surname, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-input-icon form-input-icon-right">
                                            <label><b>@StartApp.Language.Text.Phone</b></label>
                                            @Html.TextBoxFor(x => x.CustomerDetails.Phone, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-input-icon form-input-icon-right">
                                            <label><b>@StartApp.Language.Text.Email</b></label>
                                            @Html.TextBoxFor(x => x.CustomerDetails.Email, new { @class = "form-control", @Type = "Email",  required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-input-icon form-input-icon-right">
                                            <label><b>@StartApp.Language.Text.TaxOffice</b><small> (@StartApp.Language.Text.NotRequired)</small></label>
                                            @Html.TextBoxFor(x => x.CustomerDetails.TaxInfo, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-input-icon form-input-icon-right">
                                            <label><b>@StartApp.Language.Text.TaxNumber</b><small> (@StartApp.Language.Text.NotRequired)</small></label>
                                            @Html.TextBoxFor(x => x.CustomerDetails.TaxNumber, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-input-icon form-input-icon-right">
                                            <label><b>@StartApp.Language.Text.Country</b></label>
                                            @Html.TextBoxFor(x => x.AddresDetails.Country, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-input-icon form-input-icon-right">
                                            <label><b>@StartApp.Language.Text.City</b></label>
                                            @Html.TextBoxFor(x => x.AddresDetails.City, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-input-icon form-input-icon-right">
                                            <label><b>@StartApp.Language.Text.PostCode</b><small> (@StartApp.Language.Text.NotRequired)</small></label>
                                            @Html.TextBoxFor(x => x.AddresDetails.PostCode, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-input-icon form-input-icon-right">
                                            <label><b>@StartApp.Language.Text.Address</b></label>
                                            @Html.TextAreaFor(x => x.AddresDetails.Details, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        @Html.HiddenFor(x => x.CustomerDetails.Status, new { Value = "1" })
                                        @Html.HiddenFor(x => x.CustomerDetails.CustomerCode, new { Value = "0" })
                                        @Html.HiddenFor(x => x.CustomerDetails.Password, new { Value = "0" })
                                            <button type="submit" class="btn btn-warning pull-right"><span class="fa fa-send"></span> @StartApp.Language.Text.Send </button>
                                    <div class="clearfix"></div>
                                    </div>
                    }
                </div>
                <div class="col-md-6">
                    <h3><b>@StartApp.Language.Text.WhyShouldYouRegister</b></h3>
                    <div style="background-color:#f5f5f5;padding:7px;border:1px solid silver;margin:5px 0px 5px 15px; font-size:14pt;">
                        <span class="fa fa-eye"></span> @StartApp.Language.Text.AccessWholesaleProductPrices
                    </div>
                    <div style="background-color:#f5f5f5;padding:7px;border:1px solid silver;margin:5px 0px 5px 15px; font-size:14pt;">
                        <span class="fa fa-shopping-cart"></span> @StartApp.Language.Text.OnlineOrderCreation
                    </div>
                    <div style="background-color:#f5f5f5;padding:7px;border:1px solid silver;margin:5px 0px 5px 15px; font-size:14pt;">
                        <span class="fa fa-dollar"></span> @StartApp.Language.Text.GetASpecialQuote
                    </div>
                    <div style="background-color:#f5f5f5;padding:7px;border:1px solid silver;margin:5px 0px 5px 15px; font-size:14pt;">
                        <span class="fa fa-star"></span> @StartApp.Language.Text.BeInformedAboutNewProducts
                    </div>
                    <div style="background-color:#f5f5f5;padding:7px;border:1px solid silver;margin:5px 0px 5px 15px; font-size:14pt;">
                        <span class="fa fa-support"></span> @StartApp.Language.Text.GetOnlineSupport
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
         </div>

        </div>
</div>

