@model StartApp.Models.ResellerView
@using StartApp.Business
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = ViewBag.CategoriyName + " - toptanara.com";
    Layout = "~/Views/Shared/_LayoutReseller.cshtml";

    int Count = Convert.ToInt32(ViewBag.Count);
    string pageUrl = HttpContext.Current.Request.Url.AbsoluteUri;
    string[] PageUrlArr = pageUrl.Split('?');
    string[] FilterQueryArr = pageUrl.Split('=');

    //Eğer filter varsa çalış
    if (FilterQueryArr.Length == 2)
    {
        if (FilterQueryArr[1] == "OneList" || FilterQueryArr[1] == "TwoList" || FilterQueryArr[1] == "ThreeList" || FilterQueryArr[1] == "BoxList") { ViewBag.FilterQuery = FilterQueryArr[1]; }
    }
    else if (FilterQueryArr.Length == 3)
    {
        if (FilterQueryArr[2] == "OneList" || FilterQueryArr[2] == "TwoList" || FilterQueryArr[2] == "ThreeList" || FilterQueryArr[2] == "BoxList") { ViewBag.FilterQuery = FilterQueryArr[2]; }
    }
    else if (FilterQueryArr.Length == 4)
    {
        if (FilterQueryArr[3] == "OneList" || FilterQueryArr[3] == "TwoList" || FilterQueryArr[3] == "ThreeList" || FilterQueryArr[3] == "BoxList") { ViewBag.FilterQuery = FilterQueryArr[3]; }
    }


}

<div id="page-wrapper" style="min-height: 577px;">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title"><i class="fa fa-list"></i> @ViewBag.CategoriyName <small>(@ViewBag.TotalCount)</small></h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="~/Reseller">Panel</a></li>
                    <li class="active">@ViewBag.CategoriyName</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!--Filter-->
        <div class="stpr-category-filter-block">
            <div class="col-md-3 p-0"><a id="New" href="~/Reseller/Category?ID=@ViewBag.CategoryID&Sort=New" class="btn btn-default btn-block stpr-category-filter"><i class="fa fa-star"></i> En Yeniler</a> </div>
            <div class="col-md-3 p-0"><a id="Populer" href="~/Reseller/Category?ID=@ViewBag.CategoryID&Sort=Populer" class="btn btn-default btn-block stpr-category-filter"><i class="fa fa-shopping-cart"></i> Çok Satılanlar</a> </div>
            <div class="col-md-3 p-0"><a id="PriceLow" href="~/Reseller/Category?ID=@ViewBag.CategoryID&Sort=PriceLow" class="btn btn-default btn-block stpr-category-filter"><i class="fa fa-sort-amount-asc"></i> En Düşük Fiyat</a> </div>
            <div class="col-md-3 p-0"><a id="PriceHigh" href="~/Reseller/Category?ID=@ViewBag.CategoryID&Sort=PriceHigh" class="btn btn-default btn-block stpr-category-filter"><i class="fa fa-sort-amount-desc"></i>  En Yüksek Fiyat</a> </div>
            <input id="FilterQuery" type="hidden" value="@ViewBag.FilterQuery" />
            <div class="clearfix"></div>
        </div>
        <div class="stpr-category-filter-block">
            <div class="col-md-3 p-0"><a id="OneList" href="~/Reseller/Category?ID=@ViewBag.CategoryID&Sort=OneList" class="btn btn-default btn-block stpr-category-filter"><i class="fa fa-sort"></i> 1 Adet Satılan</a> </div>
            <div class="col-md-3 p-0"><a id="TwoList" href="~/Reseller/Category?ID=@ViewBag.CategoryID&Sort=TwoList" class="btn btn-default btn-block stpr-category-filter"><i class="fa fa-sort"></i> 2 Adet Satılan</a> </div>
            <div class="col-md-3 p-0"><a id="ThreeList" href="~/Reseller/Category?ID=@ViewBag.CategoryID&Sort=ThreeList" class="btn btn-default btn-block stpr-category-filter"><i class="fa fa-sort"></i> 3+ Adet Satılan</a> </div>
            <div class="col-md-3 p-0"><a id="BoxList" href="~/Reseller/Category?ID=@ViewBag.CategoryID&Sort=BoxList" class="btn btn-default btn-block stpr-category-filter"><i class="fa fa-sort"></i> Koli Satılan</a> </div>
            <div class="clearfix"></div>
        </div>

        <!--Filter-->
        <!-- /.row -->
        <div class="row">
            @foreach (var item in Model.ProductsPaging)
            {
                decimal Amount = Convert.ToDecimal(item.CostPrice + (item.CostPrice * item.Percentage / 100));

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="~/Reseller/Details?ID=@item.ID">
                        <div class="stpr-product-block">
                            <div class="stpr-product-img">
                                <img src="~/Assets/Products/@item.MainImage" class="img-responsive">
                            </div>
                            <div class="product-text">
                                @if (item.Discount > 0)
                            {
                            <span class="label label-warning" style="font-size:11pt!important"><b> %@Convert.ToInt32(item.Discount) İskontolu</b></span>
                            }
                                <h2 style="font-size:12pt; font-weight:500; line-height:20px;" class="box-title m-b-0"><a href="~/Reseller/Details?ID=@item.ID">@item.Title </a> </h2>
                                <small class="text-muted db">@item.ManufacturerName - @item.StockCode</small>
                            </div>
                            <div class="product-text">
                                <h4>Birim Fiyat: <strong>@Amount.ToString("0.00")<i class="fa fa-try"></i> </strong></h4>
                                @if (item.Quantity < 3)
                                {
                                    <div class="input-group">
                                        <div class="alert alert-danger" style="background-color:#d43333; padding:7px;" role="alert"><i class="fa fa-warning"></i> <b>Satışa Kapalı</b></div>
                                    </div>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-default">
                                        Min Sipariş <span class="badge badge-warning">@item.MinOrder</span>
                                    </button>
                                }
                            </div>
                        </div>
                    </a>
               </div>
                }
            @if (ViewBag.Count == 0)
            {
                <div class="row">
                        <h4 class="text-center"><i class="fa fa-warning"></i> Bu Kategoride Ürün Bulunamadı.<br /> <b>Ürünler Hazırlandıkça Eklenecektir.</b> </h4>
                </div>
            }
        </div>
        <div class="clearfix"></div>
        <div class="row pull-right">
            @Html.PagedListPager((IPagedList)Model.ProductsPaging, Page => Url.Action("Category", new RouteValueDictionary {
            { "CategoryID", ViewBag.CategoryID },
            { "Page", Page },
            {"Sort", ViewBag.FilterQuery }
            }))
        </div>
        <b>Toplam Ürün: @ViewBag.TotalCount</b>
        </div>

    </div><br /><br />
    <!-- /.container-fluid -->
    @Html.Partial("~/Views/Shared/Reseller/_Partial_Footer.cshtml")
<script type="text/javascript">
    $("#ProductFilter_Price").change(function () {
        var jsPrice = $("#ProductFilter_Price").val();
        if (jsPrice != 0) {
            $("#ProductFilter_Status").val(1);
        }
    });

    var FilterQ = $("#FilterQuery").val();
    $("#" + FilterQ).addClass("stpr-category-filter-select");
</script>

