@model StartApp.Models.ResellerView
@using StartApp.Models
@{
    ViewBag.Title = "Fatura - toptanara.com";
    Layout = "~/Views/Shared/_LayoutReseller.cshtml";
    List<OrderProducts> ConfirmedProducts = Model.OrderProducts.Where(x => x.Confirm == 2).ToList();

    decimal TotalAmount = 0;

    //TotalAmount
    foreach (var item in ConfirmedProducts)
    {
        TotalAmount += Convert.ToDecimal(item.Quantity * item.Price);
    }
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Fatura Bilgileri</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="~/Reseller">Panel</a></li>
                    <li class="active">Fatura</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div id="printableArea" class="white-box printableArea">
                    <h3><b>FATURA BİLGİLERİ</b> <span class="pull-right"></span></h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <address>
                                    <h3> &nbsp; <b class="text-danger"> @Model.OrderDetails.CompanyTitle</b></h3>
                                    <p class="text-muted m-l-5">
                                         @Model.CustomerDetails.Name @Model.CustomerDetails.Surname
                                        <br /> @Model.AddresDetails.Details
                                        <br /> @Model.AddresDetails.City / @Model.AddresDetails.Country
                                        <br /> @Model.CustomerDetails.Phone
                                    </p>
                                </address>
                            </div>
                            <div class="pull-right text-right">
                                <address>
                                    <h4 class="font-bold">#@Model.OrderDetails.ID</h4>
                                    <p > <i class="fa fa-calendar"></i> <b> Tarih :</b> @Model.OrderDetails.RegisterDate</p>

                                </address>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive m-t-40" style="clear: both;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Ürün Kodu</th>
                                            <th>Fotoğraf</th>
                                            <th>Ürün</th>
                                            <th>Birim Fiyat</th>
                                            <th>Adet</th>
                                            <th>Tutar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ConfirmedProducts)
                                        {
                                            <tr>
                                                <td class="font-bold">İzleme Kodu: @item.ID</td>
                                                <td><img src="~/Assets/Products/@item.Image" width="40" /></td>
                                                <td class="font-bold">@item.Title</td>
                                                <td class="font-bold"> @item.Price<i class="fa fa-try"></i></td>
                                                <td class="font-bold">@item.Quantity</td>
                                                @{
                                                    decimal tPrice = Convert.ToDecimal(item.Quantity * item.Price);
                                                }
                                                <td class="font-bold">@tPrice<i class="fa fa-try"></i> </td>
                                            </tr>
                                              }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pull-right m-t-30 text-right">
                                <h3>Toplam: <strong> @TotalAmount<i class="fa fa-try"></i> </strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-right">
                        <a href="/Reseller/BankWire?OrderID=@Model.OrderDetails.ID" class="btn btn-danger" type="submit"> <i class="fa fa-money"></i> Ödeme Yap </a>
                        <button id="btnPrint" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Yazdır</span> </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- /.container-fluid -->
    @Html.Partial("~/Views/Shared/Reseller/_Partial_Footer.cshtml")
</div>
<script type="text/javascript">

    $("#btnPrint").click(function () {
        var printItem = document.getElementById("printableArea");
        printDiv(printItem);
    });
    //For Invoce Print
    

</script>

