@model StartApp.Models.ResellerView
@using StartApp.Models
@using StartApp.Business
@{
    ViewBag.Title = "Sipariş Detayları";
    Layout = "~/Views/Shared/_LayoutReseller.cshtml";

    List<OrderProducts> WattingProducts = new List<OrderProducts>();
    List<OrderProducts> ConfirmedProducts = new List<OrderProducts>();
    List<OrderProducts> CancelProducts = new List<OrderProducts>();
    cPayments Payment = new cPayments();
    cLogin Login = new cLogin();
    Payments PaymentDetails = Payment.Details(Login.ResellerDetails().ResellerID, Model.OrderDetails.ID.ToString());
    int WaitingCount = 0;
    WattingProducts = Model.OrderProducts.Where(x => x.Confirm == 1).ToList();
    ConfirmedProducts = Model.OrderProducts.Where(x => x.Confirm == 2).ToList();
    CancelProducts = Model.OrderProducts.Where(x => x.Confirm == 3).ToList();
    WaitingCount = WattingProducts.Count();
    decimal TotalAmount = 0;

    //TotalAmount
    foreach (var item in ConfirmedProducts)
    {
        TotalAmount += Convert.ToDecimal(item.Quantity * item.Price);
    }


}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Sipariş Bilgileri</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="~/Reseller">Panel</a></li>
                        <li><a href="~/Reseller/Orders">Siparişler</a></li>
                        <li class="active">Sipariş Bilgileri</li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <div class="col-md-12" style="background-color:#03a0a7;color:#ffffff;padding-top:15px;">
                            <div class="col-md-3">
                                <p style="color:#fff;font-size:14pt">#SPR-@Model.OrderDetails.ID</p>
                            </div>
                            <div class="col-md-3">
                                <p><b>Sipariş Tarihi:</b> @Model.OrderDetails.RegisterDate</p>
                            </div>
                            <div class="col-md-3">
                                <p><b>Firma:</b> @Model.OrderDetails.CompanyTitle</p>
                            </div>
                            <div class="col-md-3">
                                <p><b>Durumu:</b> @Model.OrderDetails.ConfirmDetails</p>
                            </div>
                        </div>
                        <!--WATING PRODUCTS--->
                        <div class="col-md-12" style="margin-bottom:30px;background-color:#f1f1f1">
                            <hr />
                            <h4><i class="fa fa-circle" style="color:#ffd800;"></i> <b>Onay Bekleyen Ürünler</b></h4>
                            <hr />
                            <div class="table-responsive" style="clear: both;">
                                <table style="background-color:#fafafa" class="table table-hover nowrap" id="example1" width="100%">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Kodu</th>
                                            <th>Fotoğraf</th>
                                            <th>Ürün</th>
                                            <th>Fiyat</th>
                                            <th>Adet</th>
                                            <th>Tutar</th>
                                            <th>Durum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in WattingProducts)
                                    {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td><img src="~/Assets/Products/@item.Image" width="40" /></td>
                                        <td><a target="_blank" href="/Reseller/Details?ID=@item.ProductID"> @item.Title</a></td>
                                        <td>@item.Price<i class="fa fa-try"></i></td>
                                        <td>@item.Quantity</td>
                                        @{
                                                decimal tPrice = Convert.ToDecimal(item.Quantity * item.Price);
                                                decimal Totals = tPrice;
                                        }
                                        <td>@tPrice<i class="fa fa-try"></i></td>
                                        <td><i class="fa fa-circle" style="color:#ffd800;"></i> Onay Bekliyor</td>
                                    </tr>
                                                }
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        <!--CONFIRMED PRODUCTS--->
                        <div class="col-md-12" style="margin-bottom:30px;background-color:#f1f1f1">
                            <hr />
                            <h4><i class="fa fa-circle" style="color:#4ca528;"></i> <b>Onaylanan Ürünler</b></h4>
                            <hr />
                            <div class="table-responsive" style="clear: both;">
                                <table class="table table-hover nowrap" style="background-color:#fafafa" id="example1" width="100%">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Kodu</th>
                                            <th>Fotoğraf</th>
                                            <th>Ürün</th>
                                            <th>Fiyat</th>
                                            <th>Adet</th>
                                            <th>Tutar</th>
                                            <th>Durum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ConfirmedProducts)
                                        {
                                            <tr>
                                                <td>@item.StockCode</td>
                                                <td><img src="~/Assets/Products/@item.Image" width="40" /></td>
                                                <td><a target="_blank" href="/Reseller/Details?ID=@item.ProductID"> @item.Title</a></td>
                                                <td>@item.Price</td>
                                                <td>@item.Quantity</td>
                                                @{
                                                    decimal tPrice = Convert.ToDecimal(item.Quantity * item.Price);
                                                }
                                                <td>@tPrice<i class="fa fa-try"></i></td>
                                                <td><i class="fa fa-circle" style="color:#61ad46;"></i> Onaylandı</td>
                                            </tr>
                                                    }
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        <!--CANCEL PRODUCTS--->
                        <div class="col-md-12" style="margin-bottom:30px;background-color:#f1f1f1">
                            <hr />
                            <h4><i class="fa fa-circle" style="color:#ff0000;"></i> <b>Onaylanmayan Ürünler</b></h4>
                            <hr />
                            <div class="table-responsive" style="clear: both;">
                                <table class="table table-hover nowrap" style="background-color:#fafafa" id="example1" width="100%">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>Kodu</th>
                                            <th>Fotoğraf</th>
                                            <th>Ürün</th>
                                            <th>Fiyat</th>
                                            <th>Adet</th>
                                            <th>Tutar</th>
                                            <th>Durum</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in CancelProducts)
                                        {
                                            <tr>
                                                <td>@item.StockCode</td>
                                                <td><img src="~/Assets/Products/@item.Image" width="40" /></td>
                                                <td><a target="_blank" href="/Reseller/Details?ID=@item.ProductID"> @item.Title</a></td>
                                                <td>@item.Price<i class="fa fa-try"></i></td>
                                                <td>@item.Quantity</td>
                                                @{
                                                    decimal tPrice = Convert.ToDecimal(item.Quantity * item.Price);
                                                }
                                                <td>@tPrice<i class="fa fa-try"></i></td>
                                                <td><i class="fa fa-circle" style="color:#ff0000;"></i> Onaylanmadı</td>
                                            </tr>
                                                    }
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        <hr />
                        <div class="col-md-12">
                            <p class="pull-right font-size-18">Onaylanan Toplam Tutar: <b>@TotalAmount</b><i class="fa fa-try"></i></p>
                            <br /><br />
                            @if (WaitingCount == 0 && PaymentDetails == null)
                            {
                                <a href="/Reseller/OrderDetails?OrderID=@Model.OrderDetails.ID&Completed=1" class="btn btn-primary pull-right"><i class="fa fa-send"></i> Siparişi Tamamla </a>
                            }
                            else if (PaymentDetails != null)
                            {
                                <a href="/Reseller/Invoce?OrderID=@Model.OrderDetails.ID" class="btn btn-primary pull-right"><i class="fa fa-eye"></i> Fatura Göster </a>
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- /.container-fluid -->
        @Html.Partial("~/Views/Shared/Reseller/_Partial_Footer.cshtml")
    </div>



