@model StartApp.Models.ResellerView
@{
    ViewBag.Title = "Siparişler";
    Layout = "~/Views/Shared/_LayoutReseller.cshtml";
}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Siparişler</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="~/Reseller">Panel</a></li>
                        <li class="active">Siparişler</li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        <div class="table-responsive m-b-40" style="clear: both;">
                            <table class="table table-striped" style="background-color:#fafafa" width="100%">
                                <thead class="thead-default">
                                    <tr>
                                        <th>Sipariş No</th>
                                        <th>Tarih</th>
                                        <th>Onay Durumu</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Orders)
                                {
                                <tr>
                                    <td>#SPR-@item.ID</td>
                                    <td>@item.RegisterDate</td>
                                    @if (item.Confirm == 1)
                                        {
                                        <td><i class="fa fa-circle" style="color:#ffd800;"></i> @item.ConfirmDetails</td>
                                        }
                                        else if (item.Confirm == 2)
                                        {
                                        <td><i class="fa fa-circle" style="color:#4ca528;"></i> @item.ConfirmDetails</td>
                                        }
                                        else if (item.Confirm == 3)
                                        {
                                        <td><i class="fa fa-circle" style="color:#ff0000;"></i> @item.ConfirmDetails</td>
                                        }
                                    <td><a href="/Reseller/OrderDetails?OrderID=@item.ID" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i> Detay</a></td>
                                </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                        </div>

                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- /.container-fluid -->
        @Html.Partial("~/Views/Shared/Reseller/_Partial_Footer.cshtml")
    </div>




