@model StartApp.Models.AdminView
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Sipariş Yönetimi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="card">
    <div class="card-header">
        <a href="~/AdminOrder/Manager" class="pull-right btn btn-success"> <i class="fa fa-list"></i> Tüm Siparişler</a>
        <a href="~/AdminOrder/Add" class="pull-right btn btn-primary"> <i class="fa fa-plus-circle"></i>  Yeni Sipariş Ekle</a>
        <span class="cat__core__title">
            <strong><i class="icmn-stack"></i> Sipariş Yönetimi</strong>
        </span>
    </div>
    <div class="card-block">

        <div class="row">
            <table class="table table-hover nowrap" style="width:100%">
                <thead class="thead-default">
                    <tr>
                        <th>Sipariş</th>
                        <th>Tarih</th>
                        <th>Bayi Kodu</th>
                        <th>Firma</th>
                        <th>Yetkili</th>
                        <th>Durum Detay</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AffOrders)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.RegisterDate</td>
                            <td>@item.UserID</td>
                            <td>@item.CompanyTitle</td>
                            <td>@item.UserName</td>
                            @if (item.Confirm == 1)
                            {
                                <td><span style="color:#ffc926;"><i class="fa fa-dot-circle-o"></i><b> Onay Bekliyor </b> </span></td>
                            }
                            else if (item.Confirm == 2)
                            {
                                <td><span style="color:#ff0000;"><i class="fa fa-dot-circle-o"></i><b> Hazırlanıyor </b> </span></td>
                            }
                            else if (item.Confirm == 3)
                            {
                                <td><span style="color:#01c0c8;"><i class="fa fa-dot-circle-o"></i><b> Gönderildi </b> </span></td>
                            }
                            else if (item.Confirm == 4)
                            {
                                <td><span style="color:#30aa40;"><i class="fa fa-dot-circle-o"></i><b> Teslim Edildi </b> </span></td>
                            }
                            <td>
                                <a href="~/AdminOrder/Details?ID=@item.ID" class="cat__core__link--underlined mr-2"><i class="icmn-pencil"><!-- --></i> Detay</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="row pull-right">
            @Html.PagedListPager((IPagedList)Model.AffOrders, Page => Url.Action("Manager", new RouteValueDictionary {
                { "Page", Page}
             }))
        </div>
        <b>Toplam Sipariş: @ViewBag.Count</b>
    </div>
</section>