@model StartApp.Models.HomeView
@using StartApp.Business
@{
    cProducts pList = new cProducts();
    cSeo Seo = new cSeo();
    /* New Products List */
    List<StartApp.Models.Products> NewProducts = pList.ListForCount(20);
    /* New Products List */

}

<!--Dekorasyon List -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default block2" style="border:2px solid #f1f1f1;padding:8px;">
            <div class="panel-heading">
                <a style="color:#000000; font-size:18px;"><i class="fa fa-star"></i> @StartApp.Language.Text.NewProduct </a>
            </div>
            <div class="panel-wrapper p-b-10 collapse in">
                <div id="owl-home-new-products" class="owl-carousel owl-theme owl-tabs">
                    @foreach (var item in NewProducts)
                    {
                        decimal Amount = Convert.ToDecimal(item.CostPrice + (item.CostPrice * item.Percentage / 100));
                        <div class="item">
                            <a href="~/@Request.Cookies["Language"].Value.ToLower()/@Seo.CreateUrl(item.CategoryTitle)/@Seo.CreateUrl(item.Title)-@item.ID">
                                <img src="~/Assets/Products/@item.MainImage" alt="~/Details?ID=@item.Title">
                                <p style="color:#000000; min-height:60px; font-weight:500; text-align:center">@item.Title<br /><small align="center" class="text-muted db"> Ürün Kodu: @item.StockCode</small> </p>
                            </a>
                            <div align="center">
                                <h3> <strong>@Amount.ToString("0.00")<i class="fa fa-try"></i></strong></h3>
                                <button type="button" class="btn btn-default">
                                    Min Sipariş <span class="badge badge-warning">@item.MinOrder</span>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--Dekorasyon List -->

