<div class="stpr-footer-menu-top">
    <div class="container">
        <div class="col-md-2">
            <a  href="javascript:void(0)" style="opacity:0.5" class="stpr-footer-menu-top-link"><i class="fa fa-file-text"></i> @StartApp.Language.Text.BrandAdd</a>
        </div>
        <div class="col-md-2">
            <a href="~/@Request.Cookies["Language"].Value.ToLower()/islem-rehberi/neden-toptanara-2391" class="stpr-footer-menu-top-link"><i class="fa fa-gear"></i> @StartApp.Language.Text.Guide</a>
        </div>
        <div class="col-md-2">
            <a href="~/blog" class="stpr-footer-menu-top-link"><i class="fa fa-file-video-o"></i> @StartApp.Language.Text.BlogMedia</a>
        </div>
        <div class="col-md-2">
            <a href="~/@Request.Cookies["Language"].Value.ToLower()/bilgilerimiz/hakkimizda-2394" class="stpr-footer-menu-top-link"><i class="fa fa-info"></i> @StartApp.Language.Text.About</a>
        </div>
        <div class="col-md-2">
            <a href="~/@Request.Cookies["Language"].Value.ToLower()/destek" class="stpr-footer-menu-top-link"><i class="fa fa-ticket"></i> @StartApp.Language.Text.Support</a>
        </div>
        <div class="col-md-2">
            <a href="https://www.facebook.com/toptanara/" target="_blank" class="stpr-footer-menu-top-link"><i class="fa fa-facebook stpr-social-media-link"></i></a>
            <a href="https://www.instagram.com/toptanara/" target="_blank" class="stpr-footer-menu-top-link"><i class="fa fa-instagram stpr-social-media-link"></i></a>
            <a href="https://plus.google.com/u/0/100156288849775517642" class="stpr-footer-menu-top-link"><i class="fa fa-google-plus stpr-social-media-link"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
