<div class="stpr-sub-ınfos">
    <div class="container">
        <div class="col-md-4 stpr-info-box">           
            <h3 style="color:#ffffff;"><i class="fa fa-cogs" aria-hidden="true"></i><strong> @StartApp.Language.Text.HowDoWeWork </strong></h3>
             <p>@StartApp.Language.Text.Wecollecttheproductsofthemanufacturercompaniesinoneplatform <br />
                @StartApp.Language.Text.Youcanaccessmanymanufacturersproductsandcreateordersforproductsthatsuityou</p>
        </div>
        <div class="col-md-4 stpr-info-box">
            <h3 style="color:#ffffff;"><i class="fa fa-shopping-cart" aria-hidden="true"></i><strong> @StartApp.Language.Text.IsItJustWholesale </strong></h3>
            <p>
                @StartApp.Language.Text.ToptanaracomIsAWholesaleMarketplaceTheProductsAreOnlyForWholesaleBuyersYouCanCreateAnOrderByAccessingAllProductsAndPricesByMakingACorporateRegistration
            </p>
        </div>
        <div class="col-md-4 stpr-info-box">
            <h3 style="color:#ffffff;"><i class="fa fa-shield" aria-hidden="true"></i><strong> @StartApp.Language.Text.IsItSafe </strong></h3>
            <p>
                @StartApp.Language.Text.WeSecureYourpaymentsWeWillAskYouForConfirmationAfterYouReceiveTheProductsYouOrderedWithoutAnyproblemAfterYourApprovalYourPaymentIsTransferredToTheManufacturer
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
