@model StartApp.Models.AdminView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="card">
    <div class="card-header">
        <a href="~/Admin/ProductManage" class="pull-right btn btn-success"> <i class="fa fa-list"></i> Tüm Ürünler</a>
        <a href="~/Admin/ProductAdd" class="pull-right btn btn-primary"> <i class="fa fa-plus-circle"></i>  Yeni Ürün Ekle</a>
        <span class="cat__core__title">
            <strong><i class="icmn-stack"></i> Yeni Ürün Ekle</strong>
        </span>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label>Stok Kodu</label>
                    @Html.TextBoxFor(x => x.ProductDetails.StockCode, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <label>Ürün Adı <small>(Türkçe)</small></label>
                    @Html.TextBoxFor(x => x.ProductDetails.Title, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <label>Ürün Adı <small>(İngilizce)</small></label>
                    @Html.TextBoxFor(x => x.ProductDetails.TitleEng, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <label>Kategori</label>
                    @Html.DropDownListFor(x => x.ProductDetails.CategoryID, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Sıra No (opsiyonel)</label>
                    @Html.TextBoxFor(x => x.ProductDetails.ListNumber, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Vitrine Ekle</label>
                    @Html.DropDownListFor(x => x.ProductDetails.Special, (List<SelectListItem>)ViewBag.SpecialList, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Açıklama <small>(Türkçe)</small></label>
                    @Html.TextBoxFor(x => x.ProductDetails.Description, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <label>Açıklama <small>(İngilizce)</small></label>
                    @Html.TextBoxFor(x => x.ProductDetails.DescriptionEng, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <label>Ürün Özellikleri <small>(Türkçe)</small></label>
                    @Html.EditorFor(x => x.ProductDetails.Details, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <label>Fiyat</label>
                    @Html.TextBoxFor(x => x.ProductDetails.Price, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <label>Koli İçi</label>
                    @Html.TextBoxFor(x => x.ProductDetails.BoxQuantity, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <label>Kapak Fotoğraf</label>
                    @Html.TextBox("file", "", new { type = "file" })
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Kaydet" />
                </div>
            }
            </div>
            @if (ViewBag.Status != null)
            {
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Result</div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    CKEDITOR.replace('ckeditor');
    CKEDITOR.replace('ckeditorEng');
</script>