@model StartApp.Models.BrandView
@{
    ViewBag.Title = "Ürün Ekle";
    Layout = "~/Views/Shared/_LayoutBrand.cshtml";

    List<SelectListItem> StatusOption = new List<SelectListItem>();
    StatusOption.Add(new SelectListItem { Text = "Aktif", Value = "1" });
    StatusOption.Add(new SelectListItem { Text = "Pasif", Value = "0" });
}

<section class="card">
    <div class="card-header">
        <a href="~/AdminProduct/Manager" class="pull-right btn btn-success"> <i class="fa fa-list"></i> Tüm Ürünler</a>
        <a href="~/AdminProduct/Add" class="pull-right btn btn-primary"> <i class="fa fa-plus-circle"></i>  Yeni Ürün Ekle</a>
        <span class="cat__core__title">
            <strong><i class="icmn-stack"></i> Ürün Ekle</strong>
        </span>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                    <div class="form-group">
                        <label><b>Stok Kodu</b></label>
                        @Html.TextBoxFor(x => x.ProductDetails.StockCode, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label><b>Ürün Adı</b></label>
                        @Html.TextBoxFor(x => x.ProductDetails.Title, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label><b> Kategori </b></label>
                        <select class="form-control" id="CategoryItem" required>
                            <option></option>
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.ID-@item.Name"> @item.MainCategoryName > @item.Name </option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label><b>Üretici </b></label>
                        <select class="form-control" id="ManufactureItem">
                            <option></option>
                            @foreach (var item in Model.Manufacturers)
                            {
                                <option value="@item.ID-@item.Name"> @item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label><b>Açıklama</b></label>
                        @Html.TextBoxFor(x => x.ProductDetails.Description, new { @class = "form-control" })
                    </div>
                        <div class="form-group">
                            <label><b>Detay</b></label>
                            @Html.TextArea("ckeditor")
                        </div>
                        <div class="form-group">
                            <label><b>Toptan Fiyat </b></label>
                            @Html.TextBoxFor(x => x.ProductDetails.CostPrice, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            <label><b>Koli İçi</b></label>
                            @Html.TextBoxFor(x => x.ProductDetails.BoxQuantity, new { @class = "form-control", type = "number", required = "required" })
                        </div>
                        <div class="form-group">
                            <label><b>Minimum Sipariş</b></label>
                            @Html.TextBoxFor(x => x.ProductDetails.MinOrder, new { @class = "form-control", type = "number", required = "required" })
                        </div>
                        <div class="form-group">
                            <label><b>Kapak Fotoğraf</b></label>
                            @Html.TextBox("file", "", new { type = "file" })
                        </div>
                        <div class="form-group">
                            <label><b>Fotoğraf 2</b></label>
                            @Html.TextBox("file2", "", new { type = "file" })
                        </div>
                        <div class="form-group">
                            <label><b>Fotoğraf 3</b></label>
                            @Html.TextBox("file3", "", new { type = "file" })
                        </div>
                        <div class="form-group">
                            <label><b>Fotoğraf 4</b></label>
                            @Html.TextBox("file4", "", new { type = "file" })
                        </div>
                        <div class="form-group">
                            <label><b>Fotoğraf 5</b></label>
                            @Html.TextBox("file5", "", new { type = "file" })
                        </div>
                        <div class="form-group">
                            <label><b>Fotoğraf 6</b></label>
                            @Html.TextBox("file6", "", new { type = "file" })
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(x => x.ProductDetails.Status, new { @Value = "0" })
                            @Html.HiddenFor(x => x.ProductDetails.CategoryTitle)
                            @Html.HiddenFor(x => x.ProductDetails.CategoryID)
                            @Html.HiddenFor(x => x.ProductDetails.ManufacturerID)
                            @Html.HiddenFor(x => x.ProductDetails.ManufacturerName)
                            @Html.HiddenFor(x => x.ProductDetails.SeoUrl)
                            <input type="submit" class="btn btn-primary" value="Kaydet" />
                        </div>
                }
            </div>
        </div>
        @if (ViewBag.Status != null)
            {
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Result</div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script type="text/javascript">

    CKEDITOR.replace('ckeditor');

    jQuery("#ManufactureItem").change(function () {
        var ManufaDetails = jQuery("#ManufactureItem option:selected").val();
        var manufaArray = ManufaDetails.split("-");
        var manufaID = manufaArray[0];
        var manufaName = manufaArray[1];
        if (manufaName != "" && manufaID != "") {
            jQuery("#ProductDetails_ManufacturerID").val(manufaID);
            jQuery("#ProductDetails_ManufacturerName").val(manufaName);
        }

    });

    jQuery("#CategoryItem").change(function () {
        var ctryDetails = jQuery("#CategoryItem option:selected").val();
        var ctrArray = ctryDetails.split("-");
        var ctrID = ctrArray[0];
        var ctrName = ctrArray[1];
        if (ctrID != "" && ctrName != "") {
            jQuery("#ProductDetails_CategoryTitle").val(ctrName);
            jQuery("#ProductDetails_CategoryID").val(ctrID);
        }
      //  alert(ctrName);
    });


</script>