@model StartApp.Models.AdminView
@{
    ViewBag.Title = "Marka Güncelleme";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<SelectListItem> StatusOption = new List<SelectListItem>();
    StatusOption.Add(new SelectListItem { Text = "Aktif", Value = "1" });
    StatusOption.Add(new SelectListItem { Text = "Pasif", Value = "0" });
}

<section class="card">
    <div class="card-header">
        <a href="~/AdminManufacturer/Manager" class="pull-right btn btn-success"> <i class="fa fa-list"></i> Tüm Markalar</a>
        <a href="~/AdminManufacturer/Add" class="pull-right btn btn-primary"> <i class="fa fa-plus-circle"></i>  Yeni Marka Ekle</a>
        <span class="cat__core__title">
            <strong><i class="icmn-stack"></i> Marka Güncelleme</strong>
        </span>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label><b>Adı </b></label>
                        @Html.TextBoxFor(x => x.ManufacturerDetails.Name, new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label><b>Açıklama </b></label>
                        @Html.TextAreaFor(x => x.ManufacturerDetails.Desciption, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label><b>Seo Açıklama </b></label>
                        @Html.TextAreaFor(x => x.ManufacturerDetails.SeoDecription, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div class="form-input-icon form-input-icon-right">
                            <label><b>Durum</b></label>
                            @Html.DropDownListFor(x => x.ManufacturerDetails.Status, (List<SelectListItem>)StatusOption, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(x => x.ManufacturerDetails.ID)
                        @Html.HiddenFor(x => x.ManufacturerDetails.Banner)
                        @Html.HiddenFor(x => x.ManufacturerDetails.Icon)
                        @Html.HiddenFor(x => x.ManufacturerDetails.SeoUrl)
                        <input type="submit" class="btn btn-primary" value="Güncelle" />
                    </div>
                }
            </div>
        </div>
        @if (ViewBag.Status != null)
            {
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Result</div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
